.img-block{
	width: 100%;
}
#banner {
	font-family: courier new;
}
#banner, #banner img{
	max-height: 560px;
	width: 100%;
	background-image: url('../images/headerwithopacity.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0 200px 0;
	margin-bottom: 30px;
}

#main-header {
    background-color: rgba(0, 0, 0, 2);
    position: fixed;
    width: 100%;
    z-index: 9;
}
.text-right{
	color: white;
}
.nav a{
	color: grey;
	font-weight: 700;
}
.nav a:hover{
	color: white;
	background: transparent !important;

}
#main-header .nav{
	margin-top: 15px;
	float: right;
}
#section3{
	background-color: #f2f2f2;
}
.page-section{
	padding: 50px 0;
}
.input-group label{
	max-width: 130px;
	width: 100%;
	vertical-align: top;
}
#contact-form{
	max-width: 500px;
	margin: 50px auto 0;
}
.input-group{
	width:100%;
	margin-bottom: 40px;

}
.input-group input,
.input-group textarea{	
	width:70%;
	border: 0;
	border-bottom: 1px solid #a0a0a0;
	background-color: transparent;
}
.input-group input,
.input-group textarea{
	outline: none;
}
#makingthings {
	background-color: white;
	max-height: 1000px;
}
#makingthings h2 {
	font-family: Trebuchet MS;
}
#about{
	background-image: url('../images/aboutbck.jpg');
}
#about h2{
	color: black;
	font-family: Trebuchet MS;
}






